{% extends 'base.html.twig' %}

{% block title %}List of Of specific Post!{% endblock %}

{% block body %}

    <h1> {{ post.title }} {{post.id}} </h1>
    <img src="{{ '/uploads/' ~ post.image }}"/>

{% endblock %}
